<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://i.ibb.co/R7fHGqW/Dev-Quack-Top-Bar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    DevQuack
  </a>
</nav>

<div class="jumbotron mx-auto">
  <h1 class="display-4">Hello, Developers!</h1>
  <p class="lead">This is a cool social app!</p>
  <hr class="my-4">
  <p> Welcome to the DevQuack Community an application for Developers by
    Developers, We look forward to your Quacks, the World needs you, Start
    Quacking Away! Post a Quack now on your favorite topic or Build a Team and
    Design something Amazing, the time is Now! Quack-Quack- From the DevQuack
    Team, Welcome :-).</p>
  <p class="jumbp lead mx-auto text-center">
    <a class="jumbtn btn btn-primary btn-lg" href="/register" role="button">Sign Up Now!</a>
  </p>
</div>
<h4 class="card-text">

</h4>

<div class="container">

  {{#each posts}}
  <div class="row post">
    <div class="card w-100">
      <h5 class="card-header">{{this.User.userName}} On {{this.createdAt}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <button type="button" class="btn btn-warning">Rate</button>
        <a href="/post/{{this.id}}" class="btn btn-warning">Quacks</a>
      </div>
    </div>
  </div>
  {{/each}}

  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/styles/root.css" />
  <link rel="stylesheet" href="/styles/profile.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <script type="text/javascript">

  </script>