<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://i.ibb.co/R7fHGqW/Dev-Quack-Top-Bar.jpg" width="60" height="60" class="d-inline-block align-top"
      id="Nav-logo" alt="">
    <div class="web-name">DevQuack</div>
    <div></div>
  </a>
  <form class="form-inline my-2 my-lg-0">
    <button type="button" class="btn btn-info">Profile</button>
    <button type="button" class="btn btn-warning">Dashboard</button>
    <button type="button" class="btn btn-danger">Sign Out</button>
  </form>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Hello, Developers!</h1>
  <p class="lead">This is a cool social app!</p>
  <hr class="my-4">
  <p> Welcome to the DevQuack Community an application for Developers by
    Developers, We look forward to your Quacks, the World needs you, Start
    Quacking Away! Post a Quack now on your favorite topic or Build a Team and
    Design something Amazing, the time is Now! Quack-Quack- From the DevQuack
    Team, Welcome :-).</p>
  <p class="jumbp lead mx-auto text-center">
    <a class="jumbtn btn btn-primary btn-lg" href="#" role="button">Sign Up Now!</a>
  </p>
</div>
<h4 class="card-text">

</h4>

<div class="container">

  {{#each posts}}
  <div class="row post">

    <div class="card w-100">
      <h5 class="card-header">{{this.User.userName}} On {{this.createdAt}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <button type="button" class="btn btn-warning">Rate</button>
        <a href="/post/{{this.id}}" class="btn btn-warning">Quacks</a>
      </div>

    </div>
    
    </div>
   
    {{!-- <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

          
          
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Developer Quack Box</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Leave a Quack</label>
              <textarea class="form-control" id="exampleForm" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="quackbutton">Quack</button>
          </div>
        </div>
      </div>
    </div> --}}
 {{/each}}

    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/profile.css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <script type="text/javascript">

      $(document).ready(function () {
        console.log("ready!");
        $("#quackbutton").click(function () {
          console.log("I've been Clicked")
          var databack = $("#exampleForm").val().trim();
          console.log(databack);
          location.reload();
        });
      });

    </script>