<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/R7fHGqW/Dev-Quack-Top-Bar.jpg" width="60" height="60"
            class="d-inline-block align-top" id="Nav-logo" alt="">
        <div class="web-name">DevQuack</div>
        <div></div>
    </a>
    <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-info">Profile</button>
        <button type="button" class="btn btn-warning">Dashboard</button>
        <button type="button" class="btn btn-danger">Sign Out</button>
    </form>
</nav>

<div class="container">
    <div class="row bio-section">
        <div class="col">
            <div class="user-image">
                <img id="user-image-id" src="{{url}}" alt="image">
            </div>
        </div>
        <div class="col">

            <div id="name-div-bio-section">
                <p>
                    Name: <span>{{user.firstName}} {{user.lastName}}</span>
                </p>
            </div>
            <div id="no-of-post">
                <p>
                    Total Number of Post: <span>{{postsNumber}}</span>
                </p>
            </div>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catagory
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/welcome/{{user.id}}/1">Public</a>
                    <a class="dropdown-item" href="/welcome/{{user.id}}/3">Private</a>
                    <a class="dropdown-item" href="/welcome/{{user.id}}/2">Project</a>
                </div>
            </div>
            <div id="create-a-post"><a href="#" class="btn btn-primary">Create a Post</a></div>

        </div>
    </div>
    <div class="newForm newPostForm">
        <div class="card">
            <div class="form-group">
                <label for="exampleInputEmail1">Tile of the Post</label>
                <input type="text" class="form-control" id="user-profile-title" aria-describedby="emailHelp"
                    placeholder="Enter Title of your post">
                <small id="emailHelp" class="form-text text-muted">Your title goes at the top.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Content of your Post</label>
                <input type="text" class="form-control" id="user-profile-content" aria-describedby="emailHelp"
                    placeholder="Enter Content of your post">
                <small id="emailHelp" class="form-text text-muted">Your content goes at the top.</small>
            </div>
            <div id="Submit-a-post"><a href="#" class="btn btn-primary">Submit</a></div>
        </div>
    </div>

    <div class="row post-section">
        <div class="col">
            <div class="card">
                <h1 class="section-header mainh1 text-center"></h1>

                {{#each publicPosts}}
                <div class="row post">

                    <div class="card w-100">
                        <h5 class="card-header">{{this.User.userName}} On {{this.createdAt}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.content}}</p>
                        </div>
                        <div id="button-prof-section">
                            <button type="button" class="btn btn-warning">Rate</button>
                            <a href="/post/{{this.id}}" class="btn btn-warning">Quacks</a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/profile.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/root.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <script type="text/javascript">
        $(".newPostForm").hide()
        $("#create-a-post").on("click", function () {
            console.log("You got clicked")
            $(".newPostForm").show();
            $("#create-a-post").hide()

        })
        $("#Submit-a-post").on("click", function () {
            $("#Submit-a-post").hide();
            $(".newPostForm").hide();
            console.log($("#user-profile-title").val().trim());
            console.log($("#user-profile-content").val().trim());
            $("#create-a-post").show();
            var pageName = window.location.pathname;
            var newPost = {
                content: $("#user-profile-content").val().trim(),
                title: $("#user-profile-title").val().trim(),
                CategoryId: parseInt(pageName[pageName.length - 1]),
                UserId: parseInt(pageName[pageName.length - 3]),
                stars: 0
            }
            submitPost(newPost);
        })
        function submitPost(post) {
            $.ajax("/newpost/" + parseInt(pageName[pageName.length - 3]), {
                type: "POST",
                data: post
            }).then(function () {
                location.reload();
            }
            )
        }
        $(".dropdown-item").on("click", function () {

            console.log($(this).text());
            $(".btn:first-child").text($(this).text());
        })
        console.log(window.location);
        var pageName = window.location.pathname;
        console.log(pageName);
        var pageType = pageName[pageName.length - 1]
        console.log("pageType", pageType);
        if (pageType === "1") {
            $("#dropdownMenuLink").text("Public")
            $(".section-header").text("Public Posts")
        }
        else if (pageType === "2") {
            $("#dropdownMenuLink").text("Project")
            $(".section-header").text("Project Posts")
        }
        else {
            $("#dropdownMenuLink").text("Private")
            $(".section-header").text("Private Posts")
        }
    </script>